.container{
    width: 80%;
    background-color: white;
    display: block; 
    margin: 0px auto;   
}
.inicio{
    width: 100%;
    background-color: rgb(177, 173, 173);
    text-align: center;
}
h2{
    text-align: center;
}